/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


/*Main colors: #212529
Grey color: #868e96
*/

* {
  font-family: "Funnel+Display", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #212529; */
}

/* GENERAL STYLE  */
body {
  font-family: sans-serif;
  color: #868e96;
}

/* Header  */

.container {
}

.header {
  display: grid;
  justify-content: center;
}

.right-nav {
}
